
@{
    ViewBag.Title = "EmployeeCalculator";
}

<html>
<head>
    <title>EmployeeCalculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>

        .login-page {
            width: 300%;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            //max-width: 360px;
            margin: 0 auto 100px;
            margin-top: 80px;
            padding: 45px;
            //text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

            .form input {
                font-family: "Roboto", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }

            .form button {
                font-family: "Roboto", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: #4CAF50;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                cursor: pointer;
            }

                .form button:hover, .form button:active, .form button:focus {
                    background: #43A047;
                }

            .form .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;
            }

                .form .message a {
                    color: #4CAF50;
                    text-decoration: none;
                }

            .form .register-form {
                display: none;
            }

        .container {
            position: relative;
            z-index: 1;
            margin: 0 auto;
        }

            .container:before, .container:after {
                content: "";
                display: block;
                clear: both;
            }

            .container .info {
                margin: 50px auto;
                text-align: center;
            }

                .container .info h1 {
                    margin: 0 0 15px;
                    padding: 0;
                    font-size: 36px;
                    font-weight: 300;
                    color: #1a1a1a;
                }

                .container .info span {
                    color: #4d4d4d;
                    font-size: 12px;
                }

                    .container .info span a {
                        color: #000000;
                        text-decoration: none;
                    }

                    .container .info span .fa {
                        color: #EF3B3A;
                    }

        body {
            background: #76b852; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #76b852, #8DC26F);
            background: -moz-linear-gradient(right, #76b852, #8DC26F);
            background: -o-linear-gradient(right, #76b852, #8DC26F);
            background: linear-gradient(to left, #76b852, #8DC26F);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }



        .widget {
            width: 100%;
            float: left;
            margin: 0px;
            list-style: none;
            text-decoration: none;
            -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
            color: #FFF;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 15px 10px;
            margin-bottom: 20px;
            min-height: 120px;
            position: relative;
        }

            .widget.widget-black {
                background: #000;
            }

            .widget .widget-title,
            .widget .widget-subtitle,
            .widget .widget-int,
            .widget .widget-big-int {
                float: left;
                text-align: center;
            }

        .text-success1 {
            color: green;
        }

        .widget .widget-title {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
            line-height: 20px;
            text-transform: uppercase;
        }

        .widget {
            width: 790%;
            margin-left: -28px;
        }

        h4 {
            text-align: left;
        }
        p {
            max-width:400px;
        }
    </style>
</head>
<body>
    <section>
        <div class="login-page container">
            <div class="form col-md-12">

                <form class="login-form">
                    <label>EMS</label>
                    <input ng-model="Ems" type="number" placeholder="Enter No of Ems" />
                    <label>Fire</label>
                    <input ng-model="Fire" type="number" placeholder="Enter No of Fire" />
                    <label>Traffic</label>
                    <input ng-model="Traffic" type="number" placeholder="Enter No of Traffic" />
                    <button ng-click="Calculate()">Calculate</button>

                </form>
                <div ng-if="showResult">
                    <h2>Required Employees</h2>
                    <p><bold>Current Employee Strength for Each Category is 300( 100% )</bold></p>
                    <div class="col-md-12">

                        <h4>EMS: {{RequiredEms}}</h4>
                        <div class="">
                            <div class="widget-title">Empoyee Strength</div>
                            <div>
                                <span class="pull-right">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                                <span class="pull-left text-warning">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="" style="max-height: 5px;">
                                <p ng-if="RequiredEms<=300" class="progress-bar progress-bar-success active" role="progressbar" style="width:{{(RequiredEms/300)*100}}%" height="15px">
                                    <strong style="color: black;">{{(RequiredEms/300)*100}}%</strong>
                                </p>
                                @*<strong ng-if="RequiredEms>300">Requred Employees = {{RequiredEms-300}}</strong>*@
                                <p ng-if="RequiredEms>300" class="progress-bar progress-bar-danger col-md-12 active" role="progressbar" style="width:{{((RequiredEms-300)/300)*100}}%" height="15px">
                                    <strong style="color: black;">{{((RequiredEms-300)/300)*100}}%</strong>
                                </p>
                                <span ng-if="RequiredEms>300"># of Employees Required {{RequiredEms-300}}</span>
                            </div>

                            <div class="widget-controls hidden">
                                <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <h4>Fire: {{RequiredFire}}</h4>
                        <div class="">
                            <div class="widget-title">Empoyee Strength</div>
                            <div>
                                <span class="pull-right">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                                <span class="pull-left text-warning">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="" style="max-height: 5px;">
                                <p ng-if="RequiredFire<=300" class="progress-bar progress-bar-success active" role="progressbar" style="width:{{(RequiredFire/300)*100}}%" height="15px">
                                    <strong style="color: black;">{{(RequiredFire/300)*100}}%</strong>
                                </p>
                                @*<strong ng-if="RequiredEms>300">Requred Employees = {{RequiredEms-300}}</strong>*@
                                <p ng-if="RequiredFire>300" class="progress-bar progress-bar-danger col-md-12 active" role="progressbar" style="width:{{((RequiredFire-300)/300)*100}}%" height="15px">
                                    <strong style="color: black;">{{((RequiredFire-300)/300)*100}}%</strong>
                                </p>
                                <span ng-if="RequiredFire>300"># of Employees Required {{RequiredFire-300}}</span>
                            </div>

                            <div class="widget-controls hidden">
                                <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <h4>Traffic: {{RequiredTraffic}}</h4>
                        <div class="">
                            <div class="widget-title">Empoyee Strength</div>
                            <div>
                                <span class="pull-right">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                                <span class="pull-left text-warning">
                                    <h3 class="" style="color: white;"></h3>
                                </span>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="" style="max-height: 5px;">
                                <p ng-if="RequiredTraffic<=300" class="progress-bar progress-bar-success active" role="progressbar" style="width:{{(RequiredTraffic/300)*100}}%"  height="15px">
                                    <strong style="color: black;">{{(RequiredTraffic/300)*100}}%</strong>
                                </p>
                                @*<strong ng-if="RequiredEms>300">Requred Employees = {{RequiredEms-300}}</strong>*@
                                <p ng-if="RequiredTraffic>300" class="progress-bar progress-bar-danger col-md-12 active" role="progressbar" style="width:{{((RequiredTraffic-300)/300)*100}}%"  height="15px">
                                    <strong style="color: black;">{{((RequiredTraffic-300)/300)*100}}%</strong>
                                </p>
                                <span ng-if="RequiredTraffic>300"># of Employees Required {{RequiredTraffic-300}}</span>
                            </div>

                            <div class="widget-controls hidden">
                                <a href="#" class="widget-control-right"><span class="fa fa-times"></span></a>
                            </div>
                        </div>
                    </div>       
                    @*<h4>Fire: {{RequiredFire}}</h4>
                    <h4>Traffic: {{RequiredTraffic}}</h4>*@
                    <button class="btn-default" ng-click="close()">close</button>
                </div>
            </div>
          

        </div>
    </section>
</body>
</html>



