@{
    ViewBag.Title = "Hour Wise";
}


<!DOCTYPE html>
<html>
<head>
    <title>Hour Wise</title>
    <script type='text/javascript' src='https://10az.online.tableau.com/javascripts/api/viz_v1.js'>
    </script>
</head>
<body>

    <div class='tableauPlaceholder' style='width: 1366px; height: 488px;'><object class='tableauViz' width='1366' height='488' style='display:none;'><param name='host_url' value='https%3A%2F%2F10az.online.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='&#47;t&#47;raja27ravi' /><param name='name' value='monthvscategory&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='showAppBanner' value='false' /><param name='filter' value='iframeSizedToWindow=true' /></object></div>
</body>
</html>

