@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Concordia University<br />
        Guy concordia street<br />
        <abbr title="Phone">P:</abbr>
        
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mohammedhakeem123@gmail.com">Support@example.com</a><br />
        
    </address>
</div>